In [36]:
import pandas as pd
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.27-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 2.3 MB/s eta 0:00:01
Collecting greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Downloading greenlet-1.1.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (156 kB)
     |████████████████████████████████| 156 kB 4.5 MB/s eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.27

In [20]:
trono = pd.read_csv("Game_of_Thrones_Script.csv")

In [41]:
trono.head(3)

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?

In [29]:
trono2 = trono[trono.Season == "Season 1"]

In [39]:
trono2.head(2)

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...

In [44]:
import sqlalchemy as alch
import pandas as pd

In [45]:
from getpass import getpass

In [54]:
password = getpass("Introduce tu contraseña: ")

Introduce tu contraseña: ········

In [55]:
db_name = "api"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"
engine = alch.create_engine(conec)

In [60]:
lista_de_season = trono["Season"].unique()

In [63]:
for i in lista_de_season:
    engine.execute(f"INSERT INTO `api`.`season` (`season_name`) VALUES ('{i}');")