In [35]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import string
import spacy
import es_core_news_sm
import en_core_web_sm
from nltk.corpus import stopwords
from langdetect import detect
import re

In [24]:
#trono = pd.read_csv("../Game_of_Thrones_Script.csv")

In [25]:
#def sustituye(x):
    x = str(x).replace('"', "`")
    x = str(x).replace("'", "`")
    return x

In [26]:
#trono["Sentence"] = trono.Sentence.apply(sustituye)

In [27]:
nlp = spacy.load("en_core_web_sm")

In [29]:
stop = nlp.Defaults.stop_words

In [ ]:
def tokenizer(txt):
    try:
        if detect(txt) == "en":
            nlp = spacy.load("en_core_web_sm")
        elif detect(txt) == "es":
            nlp = spacy.load("es_core_news_sm")
            
        else:
            return "No es castellano ni inglés"
    except:
        return "No he podido analizarlo"
    
    tokens = nlp(txt)
    filtradas = []
    
    
    for token in tokens:
        if not token.is_stop:
            lemma = token.lemma_.lower().strip()
            if re.search('^[a-zA-Z]+$',lemma): # Esto me quita las interrogaciones
                filtradas.append(lemma)
    return " ".join(filtradas)

In [36]:
password = getpass("Introduce tu contraseña: ")

Introduce tu contraseña: ········

In [37]:
db_name = "api"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"
engine = alch.create_engine(conec)

In [47]:
def analisisdesentimiento(person_name):
    query =  f"""
    SELECT sentence.sentence
    FROM api.sentence
    INNER JOIN api.person
    ON person.person_id=sentence.person_id
    WHERE person_name= '{person_name}';
    """
    data = pd.read_sql_query(query,engine)
    return data

In [48]:
analisisdesentimiento("arya stark")

                                              sentence
0                                                Move!
1                                     Where`s the Imp?
2                                                Arya.
3    That`s Jaime Lannister. The queen`s twin brother.
4    Thank you, Nymeria. Septa Mordane says I have ...
..                                                 ...
694  Say another word about killing my brother and ...
695                          I`m not going back north.
696                           What`s west of Westeros?
697  No one knows. It`s where all the maps stop. Th...
698                                        Right here.

[699 rows x 1 columns]

In [43]:
def tokenizer(data):
    nlp = spacy.load("en_core_web_sm")
    tokens = nlp(data)
    filtradas = []
    
    for token in tokens:
        if not token.is_stop:
            lemma = token.lemma_.lower().strip()
            if re.search('^[a-zA-Z]+$',lemma): # Esto me quita las interrogaciones
                filtradas.append(lemma)
    return " ".join(filtradas)